.container-fluid{
    color:black;
}
.card{
    border:1px solid #c7c1c1;
    height: 500px;
    margin-top:20px;
    margin-bottom:20px;
}
.corp{
    width: 90%;
    border-left: 5px;
    margin: auto;
}
.titre{
    height: 80px;
    text-align: center;
    color: white;
    background-color: #2980b9;
    margin-bottom:20px;
    margin-top:-10px;

}
.rechercher{
    margin-top: 15px;
}