<div class="container">
  <div class="row">
    <div class="col-sm-2 rechercher">
      <p></p>
    </div>
      <div class="col-sm-5 mx-auto">
            <div class="corp">
              {{role}}
              <form  [formGroup]="myForm" (ngSubmit)="post(myForm)" >
                <br/>
                <label for="defaultLoginFormEmail">BDP ID</label>
                  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4"  formControlName="bdnId" placeholder="BDP ID">
                  <label for="defaultLoginFormEmail">Numero De Téléphone</label>
                  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" formControlName="telephone" placeholder="numero de telephone">
                 
                  <label for="defaultLoginFormentite">Ancien Mot De Passe</label>
                  <input type="password" id="defaultLoginFormEmail" class="form-control mb-4" value="" formControlName="oldPassword" placeholder="mot de passe"><br/>
                    <label for="defaultLoginFormroles">Nouveau Mot De Passe</label>
                    <input type="password" id="defaultLoginFormEmail" class="form-control mb-4" value="" formControlName="newPassword" placeholder="mot de passe"><br/>
                    Confirmer le Mot de passe
                    <input type="password" id="defaultLoginFormEmail" class="form-control mb-4" value="" formControlName="confirmPassword" placeholder="confirmatin de mot de passe"><br/>
                  <button class="btn btn-info btn-block my-4" type="submit">Enregistrer</button>
              </form>
          </div>
        </div>
        <div class="col-sm-5"><p>  </p></div>
  </div>
</div>
