.btntotab{
    display:flex;
    margin: 20px auto;
}

.formdate{
    display:flex;
    margin: 20px auto;
}
.fichier{
    border-radius:20px;
  }
  

.subtab{
    margin-bottom: 20px;
}

.container-fluid{
    color:black;
}